.hero {
  background-color: #2f303a;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('/image/Hero_mobile.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-resolution: 2dppx) {
  .hero {
    background-image: url(/image/Hero_mobile@2x.jpg);
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .hero {
    background-image: url(/image/Hero_tablet.jpg);
  }

  @media (min-resolution: 2dppx) {
    .hero {
      background-image: url(/image/Hero_tablet@2x.jpg);
    }
  }
}

@media (min-width: 769px) {
  .hero {
    background-image: url(/image/Hero_desktop.jpg);
  }

  @media (min-resolution: 2dppx) {
    .hero {
      background-image: url(/image/Hero_desktop@2x.jpg);
    }
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  margin: 0 auto;
  display: flex;
  border: none;
  & :hover {
    background: #188ce8;
  }
}

// .hero__btn.is-open .menu-button {
//   @media screen and (max-width: 479px) {
//     display: none;
//   }
// }
